
.ctn-producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F1F1F1 ;
    box-shadow: 0px 0px 1px 0px ;
}


.info-produ{
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
}

.produ-nombre{
    font-size: 32px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.p-produ{
font-weight: 500;
}